* {
	box-sizing: border-box;
}

body {
	width: 100%;
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	background: #ccc;
	color: #777777;
	margin: 0;
	padding: 0;
}

h2 {
	color: #4aaaa5;
	margin-left: 40px;
}

h3 {
	color: #4aaaa5;	
}

/*Common styling*/


/* Header */

header {
	width: 100%;
	border-bottom-style: solid;
	background: #ffffff;
}

.navlink {
	position: absolute;
	top: 40px;
	border-right: #e8ebef solid 2px;
	text-decoration: none;
	font-size: 14px;
	color: #777777;
}

.navlink:hover {
	background:#e8ebef;
}
/* --------------------------------------------------- */


/* Main Section */

.container {
	clear: both;
	width: 960px;
	margin: 0 auto;
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
}

.main {
	position: relative;
	width: 650px;
	float: left;
	background: #ffffff;
	border: 1px solid #ccc;
}


.sidebar {
	position: absolute;
	right: 20px;
	width: 270px;
	height: 150px;
	background: #ffffff;
	text-align: center;
}

.socialmediapic {
	width: 50px;
	height: 50px;
}

.place-div {
	position: relative;
	float: left;
	margin-left: 80px;
}

.pic {
	position: relative;
	float: left;
	border: solid black 2px;
}

.row1-pic {
	float: left;
	margin-top: 40px;
}

.row2-pic {
	margin-top: 40px;
}

.row3-pic {
	margin-top: 40px;
}

/*Placeholder headings*/
.piclab {
	position: absolute;
	background: #4aaaa5;
	color: #ffffff;
	width: 200px;
	top: 120px;
	padding: 10px;
	margin-left: 2px;
	text-align: center;
}

/* Contact form */

form {
	position: absolute;
	left: 40px;
	width:80%;
	height: 80%;
}

.lab {
	float: left;
	width: 100%;
	margin-top: 5px;
}

input[type=text], textarea {
	width: 100%;
	margin-top: 6px;
}

/* --------------------------------------------------- */

/* Footer */

.foot {
	position: fixed;
	width: 100%;
	background: #666666;
	bottom: 0;
	padding: 0;
	border-top: solid #4aaaa5 6px;	
}


/* --------------------------------------------------- */

/* Unique styling */

/* Header */

#yourname {
	background: #4aaaa5;
	color: #ffffff;
	width: 300px;
	text-align: center;
	margin: 0px 0px 0px 20px;
	padding: 20px 0px;
}

#about {
	left: 750px;
}

#portfolio {
	left: 815px;
}

#contact {
	left: 890px;
}

/* --------------------------------------------------- */

/* Main Section */

#main-content {
	height: 450px;
}

#main-portfolio {
	height: 900px;
	margin-bottom: 20px;
}

#main-contact {
	height: 420px;
	float: left;
}

#content-hr {
	width: 600px;
}

#side-hr {
	width: 160px;
}

p {
	margin-left: 10px;
	text-align: left;
	font-size: 15px;
}

/*Images*/

#bio-image {
	float: left;
	width: 300px;
	height: 169px;
	border: black solid 2px;
	margin:0px 5px; 
}

/* Contact Form */

textarea {
	height: 40%;
}

#submit {
	background: #4aaaa5;
	color: #ffffff;
	margin-top: 20px;
	border:none;
	padding: 5px;
	text-align: center;
	width: 80px;
	height: 30px;  
}

#submit:hover {
	background: #418e8a;
}

/* --------------------------------------------------- */

/* Footer */

#copyright {
	color: #ffffff;
	text-align: center;
}
