* {
	box-sizing: border-box;
}

body {
	width: 100%;
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	background: #ccc;
	color: #777777;
	margin: 0;
	padding: 0;
}

/*Common styling
Header, container, sidebar, footer, h2, h3*/

header {
	width: 100%;
	border-bottom-style: solid;
	background: #ffffff;
}

.container {
	clear: both;
	width: 960px;
	margin: 0 auto;
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
}

#sidebar {
	position: absolute;
	right: 20px;
	width: 270px;
	height: 150px;
	background: #ffffff;
	text-align: center;
}

footer {
	position: fixed;
	width: 100%;
	background: #666666;
	bottom: 0;
	padding: 0;
	border-top: solid #4aaaa5 6px;	
}

h2 {
	color: #4aaaa5;
	margin-left: 40px;
}

h3 {
	color: #4aaaa5;	
}

.portfolio-pic {
	position: relative;
	float: left;
	border: solid black 2px;
}

.place-div {
	position: relative;
	float: left;
	margin-left: 80px;
}

.row1-place {
	float: left;
	margin-top: 40px;
}

.row2-place {
	margin-top: 40px;
}

.row3-place {
	margin-top: 40px;
}


/*Placeholder headings*/
.portfolio-label {
	position: absolute;
	background: #4aaaa5;
	color: #ffffff;
	width: 200px;
	top: 120px;
	padding: 10px;
	margin-left: 2px;
	text-align: center;
}

.navlink {
	position: absolute;
	top: 40px;
	border-right: #e8ebef solid 2px;
	text-decoration: none;
	font-size: 14px;
	color: #777777;
}

.navlink:hover {
	background:#e8ebef;
}

.socialmediapic {
	width: 50px;
	height: 50px;
}

/* Contact form */

form {
	position: absolute;
	left: 40px;
	width:80%;
	height: 80%;
}


label {
	float: left;
	width: 100%;
	margin-top: 20px;
}

input[type=text], textarea {
	width: 100%;
	margin-top: 6px;
}



/* --------------------------------------------------- */

/* Unique styling */

#yourname {
	background: #4aaaa5;
	color: #ffffff;
	width: 300px;
	text-align: center;
	margin: 0px 0px 0px 20px;
	padding: 20px 0px;
}

#about {
	left: 750px;
}

#portfolio {
	left: 815px;
}

#contact {
	left: 890px;
}

#main-content {
	width: 650px;
	height: 450px;
	float: left;
	background: #ffffff;
}

#main-portfolio {
	width: 650px;
	height: 900px;
	float: left;
	margin-bottom: 20px;
	background: #ffffff;
}

#contact-content {
	position: relative;
	width: 650px;
	height: 500px;
	float: left;
	background: #ffffff; 
}

#content-hr {
	width: 600px;
}

#side-hr {
	width: 160px;
}

p {
	margin-left: 10px;
	text-align: left;
	font-size: 15px;
}

#copyright {
	color: #ffffff;
	text-align: center;
}

/*Images*/

#bio-image {
	float: left;
	width: 300px;
	height: 169px;
	border: black solid 2px;
	margin-left: 10px;
	margin-right: 5px; 
}

textarea {
	height: 40%;
}

/* buttons */
#submit {
	background: #4aaaa5;
	color: #ffffff;
	margin-top: 20px;
	border:none;
	padding: 5px;
	text-align: center;
	width: 80px;
	height: 30px;  
}

#submit:hover {
	background: #418e8a;
}